/build/coverage
*.cache
*.d.ts
.env
.env.backup
/.idea
_ide_helper_models.php
_ide_helper.php
/lang/*.csv
/lang/php_*.json
*.log
/node_modules
/public/build
/public/hot
/public/images
/public/storage
/public/vendor
/resources/js/ziggy.js
/storage/*.key
/tests/Browser/Screenshots/
/vendor
/.vscode
