@use "variables";

.fc-timegrid-body {
    cursor: grab;
}

/* Firefox fix for now-indicator */
.fc .fc-timegrid-now-indicator-container {
    overflow: visible;
}

.fc-non-business {
    background-color: #bebebe !important;
}

div.fc-timegrid-slots tr {
    background-color: #ffffff;
}

.fc-timegrid-axis-frame i.ri-time-line {
    @apply mx-auto mt-0.5;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
    width: 21px;
    height: 25px;
    font-size: 0.85em;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
    width: 21px;
    height: 25px;
    font-size: 0.85em;
}

/* Calender header */
.fc-header-toolbar {
    h2 {
        font-weight: 700;
        font-size: 1rem;
    }
}

/* Today */
.fc-unthemed td.fc-today {
    background-color: #ffffff !important;
}

/* Past Days */
.fc-past {
    cursor: not-allowed;
    background-color: variables.$status-closing-bg;
    color: variables.$status-closing-fg;
}

/* Closed timeslots */
.fc-nonbusiness {
    cursor: not-allowed;
    background-color: variables.$status-closing-bg;
    color: variables.$status-closing-fg;
}

/* Background Events: Closings */
// https://css-tricks.com/stripes-css/
.fc-bg-event {
    opacity: 1 !important;
    cursor: not-allowed;
    background-color: #ffffff;
    background: repeating-linear-gradient(
        45deg,
        rgba(245, 245, 245),
        rgba(245, 245, 245) 10px,
        rgba(235, 235, 235) 10px,
        rgba(235, 235, 235) 20px
    ) !important;
    color: black;
}

/* Room header columns */
.fc-widget-header th.fc-resource-cell {
    text-align: center;
}

.fc-ltr .fc-time-grid .fc-event-container {
    margin: 0 !important;
}

a.fc-event {
    cursor: pointer;

    &:hover {
        cursor: pointer;
    }

    .fc-event-main {
        color: unset;
    }

    &.past-event {
        opacity: 0.4;
        background-color: #cccccc;
    }

    &.reservation {
        opacity: 0.75;
        background-color: variables.$status-reservation-bg;
        color: variables.$status-reservation-fg;
    }

    &.booking {
        opacity: 0.75;
        background-color: variables.$status-booking-bg;
        color: variables.$status-booking-fg;
    }

    /*
    &.user-reservation {
        background-color: variables.$status-reservation-bg;
        color: variables.$status-reservation-fg !important;
    }

    &.user-to-verify {
        background-color: variables.$status-user-to-verify-bg;
        color: variables.$status-user-to-verify-fg;
    }

    &.user-booking {
        background-color: variables.$status-user-booking-bg;
        color: variables.$status-user-booking-fg;
        //background-image: url('../../public/images/1797769.png');
    }
    */

    &.block {
        background-color: variables.$status-block-bg;
        pointer-events: none;
        color: variables.$status-block-fg;
    }
}

.fc-timegrid-slots tr:nth-child(odd) {
    background-color: #ffffff;
}

.fc-timegrid-slots tr:nth-child(even) {
    background-color: #f6f6f6;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child),
.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
    margin: 0;
    padding: 0;
}

.fc-next-button .fc-button .fc-button-primary {
    vertical-align: middle;
    width: 30px;
    height: 18px;
    font-size: 0.4em;
}
