@import "./_variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    outline: 0 #336699 solid;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Calender header */
.fc-header-toolbar {
    h2 {
        font-size: 1rem;
        font-weight: 700;
    }
}

/* Today */
.fc-unthemed td.fc-today { background-color: #fff !important; }

/* Past Days */
.fc-past { background-color: $status-closing; cursor: not-allowed; }

/* Closed timeslots */
.fc-nonbusiness { background-color: $status-closing; cursor: not-allowed; }

/* Room header columns */
.fc-widget-header th.fc-resource-cell { text-align: center; }

.fc-ltr .fc-time-grid .fc-event-container { margin: 0 !important; }

a.fc-event {
    &.past-event { background-color: #ccc; opacity: 0.4; }
    &.reservation { background-color: $status-reservation;  }
    &.booking { background-color: $status-booking; }
    &.user-reservation { background-color: $status-user-reservation; color: #000; }
    &.user-confirmation { background-color: $status-user-confirmation; color: #000; }
    &.user-booking { background-color: $status-user-booking; }
    &.block { background-color: $status-block; color: #fff; pointer-events: none; }
}

div#status-legend {
    margin-top: 1rem;

    span {
        flex-wrap: wrap;
        /*
        border-width: 1px;
        border-left-width: 30px;
        padding-left: 10px;
         */
        display: inline-block;
        &.reservation { background-color: $status-reservation; color: #fff;  }
        &.booking { background-color: $status-booking; }
        &.user-reservation { background-color: $status-user-reservation;}
        &.user-confirmation { background-color: $status-user-confirmation; color: #fff; }
        &.user-booking { background-color: $status-user-booking; color: #fff; }
        &.closing { background-color: $status-closing; }
        &.block { background-color: $status-block; }
    }
}



