// Status Colors
$status-reservation: #00A6B3;
$status-booking: #8F13FC;
$status-user-reservation: #B2CCE5;
$status-user-to-verify: #47CB3F;
$status-user-booking: #FF8000;
$status-block: #CE1E17;
$status-closing: #939393;

/*
open color.fc .fc-toolbar.fc-header-toolbar
#22a15c
*/
