// Status Colors
$status-reservation: #00a6b3;
$status-booking: #8f13fc;
$status-user-reservation: #b2cce5;
$status-user-to-verify: #47cb3f;
$status-user-booking: #ff8000;
$status-block: #ce1e17;
$status-closing: #939393;

/*
open color.fc .fc-toolbar.fc-header-toolbar
#22a15c
*/
