{$APP_SCHEME:http}://{$APP_HOST:localhost}:{$APP_PORT:8000} {
    root * /var/www/public
    php_fastcgi unix//var/run/php/php-fpm.sock
    reverse_proxy /app/* {$PUSHER_HOST:soketi}:{$PUSHER_PORT:6001}
    file_server
}
